<!DOCTYPE html>
<html>
  <body>
    <p id="notice"></p>
    <h1>books</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    <tbody>
      <div class="book-box">
        <% @books.each do |book| %>
          <section class="book-text">
            <p class="book-text-heading">
              <%= link_to book.title, book_path(book) %>
            </p>
            <p class="book-date">
              <%= link_to book.body, book_path(book) %>
            </p>
          </section>
        <% end %>
      </div>
    </tbody>
    </table>
    <h2>New book</h2>
      <%= link_to "show", show_book_path(@book) %>
      <%= link_to "edit", edit_book_path(@book) %>
      <%= link_to "destroy", book_path(@book), method: :delete %>
  </body>
</html>